@model ToDo.Models.ToDoModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ToDo List</h1>
</div>

<div class="row">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        foreach (var item in Model.TaskList)
        {
            <div class="row td-row">
                <div class="col-md-3 item-title">@item.Value.Title</div>
                <div class="col-md-7 item-desc">@item.Value.Description</div>
                <div class="col-md-1">@item.Value.Status</div>
                <div class="col-md-1"><input class="button" type="submit" value="Update" name="@item.Value.ID" /></div>
            </div>
        }
        
    }

</div>